.accountFormArea {
    flex: 1 0 40%;
    height: 100%;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.formField {
    min-width: 350px;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex: 1 0 50%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.inputItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1000px;
    min-width: 300px;
}

.inputItem__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.inputItem__desc {
    margin-bottom: 20px;
}

.inputItem__textInput {
    width: 96%;
    max-width: 500px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.inputItem__textAreaInput {
    width: 96%;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.inputItem__checkboxContainer {
    display: flex;
    position: relative;
    padding: 7px 0 0 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.inputItem__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkboxInput__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: white;
}

/* When the checkbox is checked, add a black background */
.inputItem__checkboxContainer input:checked ~ .checkboxInput__checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxInput__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.inputItem__checkboxContainer input:checked ~ .checkboxInput__checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.inputItem__checkboxContainer .checkboxInput__checkmark:after {
    left: 11px;
    top: 5px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkboxInput__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: left;
}

.formError {
    text-align: center;
    color: red;
}

.darkButton {
    width: 100%;
    height: 64px;
    background-color: #333333;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lightButton {
    width: 100%;
    height: 64px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inputItem__submitArea {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.submitButton {
    width: 100%;
    height: 200px;
    background-color: #333333;
    border: 2px solid black;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.displayButtonArea {
    display: flex;
    margin-top: 20px;
}

.displayButton {
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    margin: 15px 5px 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
}

.displayButton__icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.timeGrid {
    width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeBoxOuter {
    width: 90px;
    height: 60px;
    margin: 20px 0px 0 10px;
}

.timeBoxInner {    
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.inactive {
    background-color: grey;
}

.tagSelection {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}

.tagSelection p {
    margin: 0;
}

.addTagInput {
    display: flex;
    align-items: center;
}

.addTagButton {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.cameraIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.photoInputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.imgUpload {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.selected {
    background-color: black;
    color: white;
}

.unselected {
    background-color: white;
    color: black;
}

.signInPageButtons {
    cursor: pointer;
}