.itemPage {
    display: flex;
    width: 100%;
    border: 2px solid;
}

.infoArea {
    width: 40%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moneySection {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.cost {
    font-size: 100px;
}

.acceptedPayments {
    padding-top: 20px
}

.acceptedPaymentsLabel {
    margin-bottom: 10px;
}

.wealthsimpleLogo {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 5px;
}

.acceptedPaymentsMethods {
    font-weight: 400;
    font-size: 16px;
}

.dollarSign {
    font-size: 50px;
}

.item {
    font-size: 26px;
}

.notes {
    font-size: 18px;
    margin-top: 30px;
}

.interestMethods {
    display: flex;
    flex-direction: column;
}

.transactionButton {
    background-color: white;
    border: 4px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 30px;
    text-align: center;
}

.instructions {
    margin: 30px 0;
}

.imageArea {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.coverPhotoContainer {
    flex: 1 0 66.66%;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.coverPhoto {
    object-fit: contain;
    height: 100%;
    width: 100%;
    color: white;
}

.thumnailArea {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.33%;
}

.thumnailPhotoContainer {
    flex: 1 1 200px;
    box-sizing: border-box;
    border: 2px solid black;
    height: 33.33%;
    background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%), linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%);
    background-color: white;
}

.thumnailPhoto::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumnailPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    color: white;
}

.thumnailPhotoEmpty {
    height: 100%;
    background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%), linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%);
    background-color: white;
}

.formStep {
    width: 100%;
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 30px;
}

.formStepTitle {
    margin-bottom: 10px;
}

.deliveryButton {
    width: 80%;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .itemPage {
        flex-direction: column;
        padding: 30px;
    }

    .moneySection {
        flex-direction: column;
        align-items: baseline;
    }

    .infoArea {
        width: 100%;
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imageArea {
        width: 100%;
        display: flex;
        flex-direction: unset;
    }

    .coverPhotoContainer {
        flex: 1 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .coverPhoto {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    
    .thumnailArea {
        display: flex;
        flex-direction: row;
        flex: 1 0 33.33%;
    }
    
    .thumnailPhotoContainer {
        flex: 1 1 200px;
        height: 200px;
    }
    
    .thumnailPhoto {
        width: 100%;
        height: 100%;
    }
    
    .thumnailPhotoEmpty {
        height: 100%;
    }
    
    .transactionButton {
        font-size: 16px;
        margin-top: 10px;
    }
}