.itemCardArea {
    min-height: 200px;
    max-height: 500px;
    flex: 1 0 45%;
}

.itemCard {
    height: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.itemBuffer1 {
    height: 250px;
    box-sizing: border-box;
    border: 2px solid black;
    flex: 1 0 45%;
    background-color: black;
}

.itemBuffer2 {
    height: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    flex: 1 0 100%;
    background-color: black;
}

.itemCardCreate__text {
    font-size: 28px;
    margin-left: 15px;
    text-align: left;
}

.itemCardCreate__icon {
    width: 50px;
    margin-right: 15px;
}

.itemCard__Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-right: 15px;
}

.cardInfo__cost {
    font-size: 40px;
    margin-bottom: 5px;
}

.dollarSign {
    font-size: 18px;
}

.cardInfo__item {
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}

.cardInfo__status {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 15%);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    letter-spacing: 0.5px;
}

.itemCard__imgArea {
    position: relative;
    height: 80%;
    min-width: 200px;
    width: 50%;
}

.tagLabelArea {
    display: none;
}
.tagLabel {
    background-color: white;
    font-size: 12px;
    font-weight: 300;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    opacity: 75%;
}

.itemCard__img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.itemStatus {
    padding: 15px;
}

@media only screen and (max-width: 900px) {
    .itemCard {
        flex-direction: column;
    }

    .itemCard__Info {
        width: 100%;
        margin: 0px;
        flex-direction: row;
        order: 1;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cardInfo__item {
        text-align: left;
        font-size: 16px;
        margin-right: 20px;
    }

    .cardInfo__cost {
        font-size: 30px;
        order: 2;
    }
    
    .dollarSign {
        font-size: 14px;
    }

    .itemCard__imgArea {
        width: 100%;
        height: 80%;
    }

    .tagLabelArea {
        position: absolute;
        display: flex;
    }
    
    .itemCardCreate__text {
        font-size: 28px;
        margin: 0;
        text-align: center;
    }
}